HolaMundo/.vs/HolaMundo/v17/.suo  HolaMundo/HolaMundo/obj/Debug/net6.0/HolaMundo.assets.cache HolaMundo/HolaMundo/obj/HolaMundo.csproj.nuget.dgspec.json
HolaMundo/HolaMundo/obj/HolaMundo.csproj.nuget.g.props
HolaMundo/HolaMundo/obj/HolaMundo.csproj.nuget.g.targets
HolaMundo/HolaMundo/obj/project.assets.json
HolaMundo/HolaMundo/obj/project.nuget.cache
